
body{
	font-family: 'Roboto Slab', serif;
}

.lab,.trans,.e1, .e3{
	text-transform: capitalize;
	background-color: yellow;
	height: 50px;
	padding-left: 10px;
	padding-top: 10px;

}

.es, .e2{
	background-color: red;
	height: 50px;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid black;

}

.trans, .e3{
	text-transform: uppercase;
	
}

.e1, .e2, .e3{
	border: 0;
	margin:10px;
	width: 160px;
}